{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../dist/output.css" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet" >
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Home-chatGPT</title>
</head>
<body>
   <section class="relative main px-4">
    <div class="container mx-auto h-full">
        <div class="main_inner">
            <img src="{% static 'img/chatgpt/logo.png' %}" alt="logo" class="mx-auto" />
            <h1>Welcome to <span>ChatGPT</span></h1>
            <p>Your Intelligent Chat Companion</p>
            <form action="{% url 'user_view' %}" method="post">
            {% csrf_token %}
            <div class="flex items-center justify-center w-full mt-7">
                <div class="check-login">
                    <input checked type="radio" name="role" value="IT_SUPPORT" id="IT_SUPPORT" value="" class="peer" required="">
                    <label for="IT_SUPPORT" class="block h-full cursor-pointer"> 
                        <div class="gradient_1"></div>
                        <div class="gradient_2"></div>
                        <div class="before-border"></div> 
                        <div class="block">
                            <img src="{% static '/img/chatgpt/support.svg' %}" alt="checkbox" class="mx-auto"/>
                            <p>IT Support</p>
                        </div>
                    </label>
                </div>
                <div class="check-login ml-7">
                    <input type="radio" name="role" value="LEGAL" id="LEGAL" value="" class="peer" required="">
                    <label for="LEGAL" class="block h-full cursor-pointer">    
                        <div class="gradient_1"></div>
                        <div class="gradient_2"></div>          
                        <div class="before-border"></div>              
                        <div class="block">
                            <img src="{% static '/img/chatgpt/legal.svg' %}" alt="checkbox" class="mx-auto"/>
                            <p>Legal</p>
                        </div>
                    </label>
                </div>
            </div>
            <button class="login-btn">
                <div class="gradient_3"></div>
                <div class="gradient_4"></div>            
                Continue <img src="{% static '/img/chatgpt/arrow.svg' %}" alt="btn-img" />
            </button>
        </form>
        </div>
    </div>
</section>
<div class="footer">
    <p>Terms of Use • Privacy Policy</p>
</div>

{% block content %}
{% endblock %}

{% block scripts %}
{% endblock %}

</body>
</html>