{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../dist/output.css" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet" >
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Home-chatGPT</title>
</head>
<body>

   <!-- header -->
   <header>
    <nav class="container mx-auto flex max-w-7xl items-center justify-between py-3 px-4" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img class="w-auto" src="{% static 'img/chatgpt/logo_1.png' %}" alt="logo">
        </a>
      </div>      
      <div class="lg:flex lg:flex-1 lg:justify-end">
        <div class="relative">
            <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" type="button" class="flex items-center">
                <div class="user-dropdown">
                    <img src="{% static 'img/chatgpt/Profile.svg' %}" alt="user" />
                </div>
                <img src="{% static 'img/chatgpt/dropdown.svg' %}" alt="arrow" class="ml-2"/>
            </button>
            <!-- Dropdown menu -->
            <div id="dropdown" class="absolute right-0 z-10 hidden user-dropdown-inner">
                <ul aria-labelledby="dropdownDefaultButton">
                  <li>
                    <h6>{{ name }}</h6>
                  </li>
                  <li>
                    <h5>Email</h5>
                    <p>{{ email }}</p>
                  </li>
                  <li>
                    <h5>Session ID</h5>
                    <p>{{ room.name }}</p>
                  </li>
                  <li>
                    {% if role == 'LEGAL' %}
                    <h5>Role</h5>
                    <p id="gpt_role">Legal</p>
                    {% elif role == 'IT_SUPPORT' %}
                    <h5>Role</h5>
                    <p id="gpt_role">It Support</p>
                    {% endif %}
                  </li>
                </ul>
                <a href="/logout/">
                    <button class="login-btn">
                    <div class="gradient_3"></div>
                    <div class="gradient_4"></div>    
                    Logout <img src="{% static 'img/chatgpt/logout.svg' %}" alt="btn-img" /></button>
                </a>
            </div>
        </div> 
      </div>      
    </nav>   
   </header>
   <section class="relative main px-4" id="relative-section">
    <div class="container mx-auto h-full">
        <div class="main_inner">
            <div class="no-message" id="no-message">
                <img src="{% static 'img/chatgpt/no-message.svg' %}" alt="no-message" class="mx-auto" />
                <p class="help">How can I help you?</p>     
            </div>
            <div class="message" >
                <div class="message-inner-wrapper" id="chat-messages">
                    {% for m in messages %}<b>{{ m.user.email }}</b>: {{ m.content }} - {{m.created_datetime}}<br>{% endfor %}
                </div>
            </div>
            <div class="chat-message">
                <div id="dot" class="px-4 pb-4">
                    <div class="dot-inner">
                    <div class="dot-type">
                        <div class="load-img" id='load-img'>
                            <img src="{% static 'img/chatgpt/bot.svg' %}" alt="icon" />
                        </div>
                        <p id='bot-msg'>is typing</p>
                    </div>
                    <div class="loading-inner" id="loading-inner">
                        <span class="loading" id="loading1"></span>
                        <span class="loading" id="loading2"></span>
                        <span class="loading" id="loading3"></span>
                    </div>
                    </div>
                </div>  
                <form method="POST">
                    <div class="relative search mx-auto">
                    <span class="absolute inset-y-0 right-0 flex items-center send-btn">
                        <button type="submit" id="chat-message-submit">
                        <img src="{% static '/img/chatgpt/send.svg' %}" alt="send" />
                        </button>
                    </span>
                    <input type="search" name="chat"  placeholder="Search..." autocomplete="off" id="chat-message-input">
                    </div>
                </form>
            </div>
         </div>
    </div>
   </section>
   <div class="footer">
    <p>Kelley’s ChatGPT may display inaccurate or offensive information that doesn’t represent ChatGPT’s views.</p>
   </div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script>
    $(document).ready(function(){
        $('#dropdownDefaultButton').click(function(){
      $('#dropdown').toggle();
    })
    });
</script>

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ email|json_script:"json-email" }}
{{ role|json_script:"json-role" }}
{{ name|json_script:"json-name" }}


<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const email = JSON.parse(document.getElementById('json-email').textContent);
    const role = JSON.parse(document.getElementById('json-role').textContent);
    const name = JSON.parse(document.getElementById('json-name').textContent);
    const chatSocket = new WebSocket(
        'wss://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }

    /**
    * A function for finding the messages element, and scroll to the bottom of it.
    */
    function scrollToBottom() {
        const objDiv = document.querySelector(".message");
        objDiv.scrollTop = objDiv.scrollHeight;
    }


    chatSocket.onmessage = function(e) {
        const dot = document.querySelector('#dot');
        //dot.style.display = "none";
        const data = JSON.parse(e.data);
        var d = new Date();
       if (data.message && data.name != 'bot') {
           document.querySelector('#chat-messages').innerHTML += ('<div class="message-inner my-6">' 
            + '<div class="message-inner-right" id="message-inner-right">' + '<div class="message-right flex items-start">'
            + '<div class="message-img">' + '<img src="{% static 'img/chatgpt/icon.svg' %}" alt="icon" class="mx-auto" />'
            + '</div>' + '<div class="message-content">' + '<p>' + data.message + '</p>' +'</div>' + '</div>' + 
            '</div>' + '<p class="time text-right" style="float:right">' + d.toLocaleTimeString() + '</p>' + '</div>');
            scrollToBottom()
        } else if(data.message != 'error' && data.name == 'bot') {
            document.querySelector('#chat-messages').innerHTML += ('<div class="message-inner my-6">' 
            + '<div class="message-inner-left">' + '<div class="message-left flex items-start">'
            + '<div class="message-img">' + '<img src="{% static 'img/chatgpt/bot.svg' %}" alt="icon" class="mx-auto" />'
            + '</div>' + '<div class="message-content">' + '<p>' + data.message + '</p>' +'</div>' + '</div>' + 
            '</div>' + '<p class="time text-left">' + d.toLocaleTimeString() + '</p>' + '</div>');
            scrollToBottom()
        }else if (data.message == 'error' && data.name == 'bot'){
            const el = document.querySelector('#loading-inner');
            el.classList.remove("loading-inner");
            const loading_1 = document.querySelector('#loading1')
            loading_1.style.display = "none"
            const loading_2 = document.querySelector('#loading2')
            loading_2.style.display = "none"
            const loading_3 = document.querySelector('#loading3')
            loading_3.style.display = "none"
            document.querySelector('#bot-msg').innerHTML = 'Service Unavailable, please refresh !';
            scrollToBottom()
        }
       else {
           console.log('The message was empty!')
       }

        if(data.email != 'bot' && data.message){
            chatSocket.send(JSON.stringify({
                'message': data.message,
                'email': 'bot',
                'name': 'bot',
                'room': roomName,
                'role': role
            }));
        }

        if(data.email == 'bot' && data.message != 'error'){
            dot.style.display = "none";
        }
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        
        if (e.keyCode === 13) {
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault()   
        const no_message = document.querySelector('#no-message')
        no_message.style.display = "none"
        const section = document.querySelector('#relative-section')
        section.className = "relative main main-one px-4"
        const newMessage = document.querySelector('#message-inner-right')
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        const dot = document.querySelector('#dot');
        dot.style.display = "block"; 

        console.log({
            'message': message,
            'email': email,
            'room': roomName,
            'role': role,
            'name': name
        })

        chatSocket.send(JSON.stringify({
            'message': message,
            'email': email,
            'room': roomName,
            'role': role,
            'name': name
        }));

        messageInputDom.value = '';

        return false
    };
</script>

{% endblock %}
