{% extends 'room/base.html' %}

{% block title %}{{ room.name }} | {% endblock %}

{% block content %}
<div class="mx-auto ">
    <div class="p-5  text-center">
        <h1 class="text-lg text-white text-left">Session ID : {{ room.name }}</h1>
        <p class="text-md text-white text-left capitalize">Name : {{ name }}</p>
        <p class="text-md text-white text-left">Email : {{ email }}</p>
        <p class="text-md text-white text-left capitalize">Role : {{ role }}</p>
    </div>
</div>

<div class="mx-auto pt-5 px-4">
    <div class="lg:w-4/4  mx-4 lg:mx-auto p-4 bg-white rounded-md shadow-md shadow-red-400 relative">
        <p class="free-text">Please free to ask..</p>
        <div id="dot" class="px-4 pb-4">
            <span class="loading"></span>
            <span class="loading"></span>
            <span class="loading"></span>
        </div>
        <div class="chat-messages space-y-3" id="chat-messages"> 
            {% for m in messages %}<b>{{ m.user.email }}</b>: {{ m.content }} - {{m.created_datetime}}<br>{% endfor %}
        </div>
    </div>

    <div class="lg:w-4/4 mt-6 mx-4 lg:mx-auto p-4 bg-white rounded-md shadow-md shadow-red-400">
        <form method="post" action="." class="flex">
            <input type="text" name="content" class="flex-1 mr-3 px-3 border-slate-300	border" placeholder="Your message..." id="chat-message-input">

            <button 
                class="px-5 py-2 rounded-md capitalize font-medium text-white bg-red-600 hover:bg-red-700"
                id="chat-message-submit"
            >Submit</button>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ email|json_script:"json-email" }}
{{ role|json_script:"json-role" }}
{{ name|json_script:"json-name" }}


<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const email = JSON.parse(document.getElementById('json-email').textContent);
    const role = JSON.parse(document.getElementById('json-role').textContent);
    const name = JSON.parse(document.getElementById('json-name').textContent);
    const chatSocket = new WebSocket(
        'wss://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }

    chatSocket.onmessage = function(e) {
        const dot = document.querySelector('#dot');
        dot.style.display = "none";
        const data = JSON.parse(e.data);
        var d = new Date();
        if (data.message) {
            document.querySelector('#chat-messages').innerHTML += ('<div>' + '<h6>' + '<b>' + data.name + '</b>: ' + '</h6>' + '<p style="white-space: pre-line">' + data.message + '</p>' +  '<span>' + d.toLocaleString() + '</span>' + '</div>');
        } else {
            console.log('The message was empty!')
        }

        if(data.email != 'bot' && data.message){
            chatSocket.send(JSON.stringify({
                'message': 'bot msg',
                'email': 'bot',
                'name': 'bot',
                'room': roomName,
                'role': role
            }));
            dot.style.display = "none";
        }
        if(data.email != 'bot' && !data.message){
            dot.style.display = "none";
        }


        scrollToBottom();
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        
        if (e.keyCode === 13) {
            document.querySelector('#chat-message-submit').click();
            // const dot = document.querySelector('#dot');
            //  dot.style.display = "block";

        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault()

        const messageInputDom = document.querySelector('#chat-message-input');
        const dot = document.querySelector('#dot');
        const message = messageInputDom.value;
        // console.log('Processing Request');
        dot.style.display = "block";

        console.log({
            'message': message,
            'email': email,
            'room': roomName,
            'role': role,
            'name': name
        })

        chatSocket.send(JSON.stringify({
            'message': message,
            'email': email,
            'room': roomName,
            'role': role,
            'name': name
        }));

        messageInputDom.value = '';

        return false
    };

    /**
    * A function for finding the messages element, and scroll to the bottom of it.
    */
    function scrollToBottom() {
        let objDiv = document.getElementById("chat-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    // Add this below the function to trigger the scroll on load.
    scrollToBottom();
</script>

{% endblock %}
