.messages {
    height: 400px;
    overflow-y: auto;
}

/* chatcss */
body {
    font-family: 'Montserrat', sans-serif;
}
.chat-messages {
    position: relative;
}
.chat-messages div {
    width: 60%;
}
.chat-messages div:nth-child(even) {
    margin: auto 0 auto auto;
}
.chat-messages p:first-letter {text-transform: capitalize;}

.chat-messages p {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}
#dot {
    display: none;
    position: absolute;
    right: 30px !important;
    bottom: 10px;
}

.loading{
    position:absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 15px;
    right:0;
    background: #171717  /*#5197d6*/;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    /*box-shadow: 0 0 2px black;*/
    animation: loading 4s infinite;
    }

    .loading:nth-child(1) {
        animation-delay: 0.6s;
        width: 10px;
        height: 10px;
        left:-15px;
        background: #dc2626;
    }

    .loading:nth-child(2) {
    animation-delay: 0.8s;
        width: 10px;
        height: 10px;
    }

    .loading:nth-child(3) {
        animation-delay: 1s;
        width: 10px;
        height: 10px;
        right:-30px;
        background: #dc2626;
    }

    .loading {
    animation-iteration-count:infinite;
    animation-timing-function: ease-in;
    }

    @keyframes loading {
    0%{
    transform: translateY(0px);
    }
    20%{
    transform: translateY(0px);
    }
    30%{
    transform: translateY(-8px);
    }
    40%{
    transform: translateY(5px);
    }
    50%{
    transform: translateY(-2px);
    }
    60%{
    transform: translateY(2px);
    }
    80%{
    transform: translateY(0px);
    }
    100%{
    transform: translateY(0px);
    }
    }
.chat-messages h6:first-letter {
    text-transform: capitalize;
}

.chat-messages h6 {
    font-size: 14px;
    line-height: 14px;
}
.chat-messages span {
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
}
.free-text {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 600;
}
.chat-messages div:nth-child(even) {
    background: #dc262673;
    padding: 20px;
    border-radius: 10px;
}

.chat-messages div:nth-child(odd) {
    background: #8080807a;
    padding: 20px;
    border-radius: 10px;
}
.login-modal form input[type="text"] {
    border: 1px solid #000;
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 5px 10px;
}

.login-modal form {
    text-align: center;
}

.login-modal form p {
    text-align: left;
}

.login-modal form input[type="text"]:focus-visible {
    outline: 0!important;
}

.login-modal form p label {
    font-weight: 500;
    font-size: 16px;
}

.login-modal form select {
    border: 1px solid #000;
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 5px 10px;
}

.login-modal form select:focus-visible {
    outline: 0!important;
}

.login-modal form input[type="submit"] {
      background: rgb(220 38 38);
      padding: 10px 20px;
      border-radius: 5px;
      color: #ffff;
      font-weight: 500;
      font-size: 16px;
      margin: 10px 0;
      width: 100%;
  }
  .login-modal h1 {
      margin: 10px 0;
      text-align: center;
      font-size: 30px;
      text-transform: capitalize;
      font-weight: 700;
  }