*{
    box-sizing: border-box;
}

body,html  {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./img/chatgpt/background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Epilogue', sans-serif!important;
}
/* header */

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 111;
   
}

header:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(163.45deg, rgba(255, 255, 255, 0.12) 8.02%, rgba(255, 255, 255, 0.03) 85.82%);
    box-shadow: inset 0px 5px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    opacity: 0.3;
    z-index: -1;
}

.user-dropdown {
    position: relative;
}



.user-dropdown-inner {
    width: 274px;
    padding: 20px;
}

.user-dropdown-inner:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    inset: 0;
    padding: 2px;
    border-radius: 10px;
    background: linear-gradient(175.79deg, rgba(255, 255, 255, 0.3) 3.49%, rgba(255, 255, 255, 0.13) 13.45%, rgba(255, 255, 255, 0.285) 25.54%, rgba(255, 255, 255, 0.05) 36.79%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.user-dropdown-inner:after {
    position: absolute;
    background: linear-gradient(173.63deg, rgba(255, 255, 255, 0.12) 3.52%, rgba(255, 255, 255, 0.03) 37.65%);
    box-shadow: inset 0px 5px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.user-dropdown-inner ul {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.user-dropdown-inner ul li h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #D2D2D2;
    margin-bottom: 15px;
}

.user-dropdown-inner ul li h5 {
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: #DF1A25;
    margin-bottom: 0px;
}

.user-dropdown-inner ul li p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #D2D2D2;
    margin-bottom: 15px;
    word-wrap: break-word;
}

.user-dropdown-inner .login-btn {
    width: 100%;
    margin: 20px auto 0 auto;
    z-index: 1;
}

/* main */

.main {
    height: 100vh;
    z-index: 1;
}

.main_inner {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin: 0 auto;
    text-align: center;
}

.main_inner h1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
}

.main_inner h1 span {
    background: linear-gradient(88.7deg, #C10016 65.49%, #FF344B 95.35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.main_inner p {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #ACACAC;
    margin-top: 20px;
}
.check-login {
    position: relative;
    transition: all 0.5s;
}

.check-login input {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
    opacity: 0;
}
.check-login label {
    position: relative;
    width: 147px;
    height: 147px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    

}

.check-login label .gradient_1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(163.45deg, rgba(255, 255, 255, 0.12) 8.02%, rgba(255, 255, 255, 0.03) 85.82%);
    box-shadow: inset 0px 5px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    opacity: 1;
    z-index: -1;
    transition: all ease-in-out 0.5s;
}

.check-login label .gradient_2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(95.81deg, rgba(193, 0, 22, 0.1) 15.17%, rgba(255, 52, 75, 0.1) 89.37%);
    box-shadow:  0px 5px 24px rgba(0, 0, 0, 0.35), inset 0px 5px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    opacity: 0;
    z-index: -1;
    transition: all ease-in-out 0.5s;
}

.check-login label:hover .gradient_1 {
    opacity: 0;
}

.check-login label:hover .gradient_2 {
    opacity: 1;
}

.check-login label::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    inset: 0;
    padding: 1px;
    border-radius: 10px;
    background: linear-gradient(168.92deg, rgba(255, 255, 255, 0.3) 8.33%, rgba(255, 255, 255, 0.13) 32.12%, rgba(255, 255, 255, 0.285) 60.98%, rgba(255, 255, 255, 0.05) 87.85%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all 0.5s;
}

.check-login label:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: linear-gradient(163.45deg, rgba(255, 255, 255, 0.12) 8.02%, rgba(255, 255, 255, 0.03) 85.82%);
    box-shadow: inset 0px 5px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    top: 10px;
    right: 10px;
    opacity: 0;
} 



.before-border {
    padding: 1px;
    background: linear-gradient(163.45deg, rgba(255, 255, 255, 0.12) 8.02%, rgba(255, 255, 255, 0.03) 85.82%);
    box-shadow: inset 0px 5px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
}


.check-login label:hover:after {
    background: linear-gradient(95.81deg, rgba(193, 0, 22, 0.8) 15.17%, rgba(255, 52, 75, 0.8) 89.37%);
    transition: all 0.5s;
}

.check-login p {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 25px;
}

.check-login input:checked + label {
    background: linear-gradient(95.81deg, rgba(193, 0, 22, 0.1) 15.17%, rgba(255, 52, 75, 0.1) 89.37%);
    box-shadow:  0px 5px 24px rgba(0, 0, 0, 0.35), inset 0px 5px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
}

.check-login input:checked + label::after {
    background: linear-gradient(95.81deg, rgba(193, 0, 22, 0.8) 15.17%, rgba(255, 52, 75, 0.8) 89.37%);
}

.check-login input:checked + label::before {
    background-image: linear-gradient(163.45deg, rgba(255, 255, 255, 0.12) 8.02%, rgba(255, 255, 255, 0.03) 85.82%), url('./img/chatgpt/tick.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.check-login input:checked + label .before-border {
    background: linear-gradient(163.45deg, rgba(255, 255, 255, 0.12) 8.02%, rgba(255, 255, 255, 0.03) 85.82%);
    opacity: 1;
}

.check-login input:checked + label .gradient_1 {
    opacity: 0;
}

.check-login img {
    margin-top: 20px;
}
.login-btn {
    position: relative;    
    padding: 16px 50px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto 0 auto;
}

.login-btn .gradient_3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(91.94deg, #310006 18.38%, #410007 87.57%);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    opacity: 1;
    z-index: -1;
    transition: all 0.5s;
}

.login-btn .gradient_4 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(91.94deg, #76000D 18.38%, #410007 87.57%);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

.login-btn:hover .gradient_3 {
    opacity: 0;
}

.login-btn:hover .gradient_4 {
    opacity: 1;
}

.login-btn img {
    position: relative;
    top: 2px;
    margin-left: 3px;
}

.login-btn::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    inset: 0;
    padding: 1px;
    border-radius: 10px;
    background:linear-gradient(259.16deg, rgba(255, 120, 128, 0.05) 15.71%, #530005 67.17%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    transition: all 0.5s;
}



.login-btn:hover::after {
    background:  linear-gradient(259.16deg, rgba(255, 120, 128, 0.05) 15.71%, #530005 67.17%);
    transition: all 0.5s;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 30px 0;
}

.footer p {
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    color: #8D8D8D;
}


/* blank chat */
.chat-message form .search {
    max-width: 764px;
    width: 100%;
}
.chat-message form input {
    background: #0E111B;
    border: 0.6px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px 20px;
    caret-color: #ACACAC;
    color: #ACACAC;
    width: 100%;
}

.chat-message form input:focus {
    border: 0.6px solid rgba(255, 255, 255, 0.2);
    outline: 0;
}
.chat-message .send-btn {
    background: linear-gradient(91.94deg, #240004 18.38%, #410007 87.57%);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    padding: 12px;
    top: 3px;
    bottom: 3px;
    right: 3px;
}

.main_inner .help {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 30px 0;
}

/* chat */

.message {
    max-width: 754px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    /* display: none; */
}

.message p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #D2D2D2;
    margin: 0;
    text-align: left;
    white-space: pre-line;
}

#chat-messages > .message-inner {
    opacity: 0.5;
}

#chat-messages > .message-inner:last-child,
#chat-messages > .message-inner:nth-last-child(-n+6) {
    opacity: 1 !important;
}

.message-img {
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 15px;
    flex: 1 0 auto;
}

.message-img img {
    padding: 5px;
}

.message-img::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(163.45deg, rgba(255, 255, 255, 0.4) 8.02%, rgba(255, 255, 255, 0.1) 85.82%);
    opacity: 0.4;
    box-shadow: inset 0px 5px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 50%;
    text-align: center;
}

.message .time {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: #D2D2D2;
    opacity: 0.5;
}
.message-inner-right {
    display: flex;
    justify-content: flex-end;
}

.message-inner-left {
    display: flex;
    justify-content: flex-start;
}

.message-right {
    position: relative;
    background: rgba(11, 11, 11, 0.4);
    box-shadow: inset -1px 4px 8px rgba(255, 255, 255, 0.12);
    padding: 20px;
    border-radius: 10px 10px 0px 10px;
    max-width: 674px;
}

.message-left {
    position: relative;
    padding: 20px;
    border-radius: 0 10px 10px 10px;
    max-width: 674px;
}

.message-left::after {
    position: absolute;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0 10px 10px 10px;
    background: linear-gradient(92.2deg, rgba(36, 0, 4, 0.7) 20.75%, rgba(65, 0, 7, 0.7) 98.83%), linear-gradient(180deg, rgba(255, 255, 255, 0.8) 4.65%, rgba(255, 255, 255, 0) 53.33%), linear-gradient(165.31deg, rgba(255, 255, 255, 0.21) 8.25%, rgba(255, 255, 255, 0.07) 88.2%);
    box-shadow: inset 0px 5px 20px rgba(0, 0, 0, 0.15), inset 6px 0px 10px rgba(255, 255, 255, 0.15), inset -3px 6px 12px rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    opacity: 0.26;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(92.2deg, rgba(36, 0, 4, 0.7) 20.75%, rgba(65, 0, 7, 0.7) 98.83%), linear-gradient(180deg, rgba(255, 255, 255, 0.8) 4.65%, rgba(255, 255, 255, 0) 53.33%), linear-gradient(165.31deg, rgba(255, 255, 255, 0.21) 8.25%, rgba(255, 255, 255, 0.07) 88.2%); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}  

.main-one .main_inner {
    height: calc(100% - 140px);
}

.main-one .message {
    height: calc(100% - 80px);
    overflow-y: auto;
    padding: 0 10px;
    
}

.message-inner-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: flex-end;
}

.main-one .chat-message {
    position: fixed;
    bottom: 00px;
    width: 100%;
}
#dot {
    display: none;
    position: absolute;
    right: 0px !important;
    max-width: 764px;
    width: 100%;
    z-index: 1;
    top: -17px;
    margin: 0 auto;
    left: 0;
}

.dot-inner {
    width: auto;
    height: 100%;
    position: relative;
    bottom: 15px;
}


.dot-type {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
  .dot-type p {
    margin: 3.5px 5px;
    color: #F30000;
  }


  .load-img {
    position: relative;
    width: 25px;
    height: 25px;
    flex: 1 0 auto;
  }
  .load-img:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(163.45deg, rgba(255, 255, 255, 0.4) 8.02%, rgba(255, 255, 255, 0.1) 85.82%);
    opacity: 0.4;
    box-shadow: inset 0px 5px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 50%;
    text-align: center;
  }
  .load-img img {
    padding: 5px;
  }
.loading-inner {
    position: absolute;
    left: 110px;
    top: 12px;
  }

.loading{
    position:absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 15px;
    right:0;
    background: #F30000;  /*#5197d6*/
    border-radius: 50%;
    width: 5px;
    height: 5px;
    display: inline-block;
    /*box-shadow: 0 0 2px black;*/
}

.loading:nth-child(1) {
    animation-delay: 0.6s;
    width: 5px;
    height: 5px;
    left:-15px;
    background: #F30000;
}

.loading:nth-child(2) {
    animation-delay: 0.6s;
    width: 5px;
    height: 5px;
    left: -2px;
    animation: loading 1s infinite;
}

.loading:nth-child(3) {
    animation-delay: 1.6s;
    width: 5px;
    height: 5px;
    left:7px;
    animation: loading 1s infinite;
    background: #F30000;
}

.loading {
    animation-iteration-count:infinite;
    animation-timing-function: ease;
}

@keyframes loading {
    0%{
    /* transform: translateY(0px); */
    opacity: 0;
    }
    50%{
    /* transform: translateY(0px); */
    opacity: 0.5;
    }
    100%{
    /* transform: translateY(5px); */
    opacity: 1;
    }
}